<div id="top-container" class="covering-main-page">
	<div id="global-header">
        <div class="global-bar">
             <nav role="navigation">                 
                 <h1 class="logo">
                     <a href="/"><img src="/assets/RORD_logo.png" width="350" height="30" data-retina /></a>
                 </h1>                 
                 <ul id="global-navigation" class="main" role="navigation">
				  <% if user_signed_in? %>
					<li><%= link_to current_user.email, edit_user_registration_path %></li>
					<li><%= link_to 'Projects', projects_path, :class => 'active' %></li>
					<li><%= link_to 'About', about_path %></li>
					<li><%= link_to 'Experience', posts_path %></li>
				  <% else %>
					<li><%= link_to 'More Info', new_user_registration_path %></li>
					<li><%= link_to 'Login', new_user_session_path %></li>
				  <% end %>	
                 </ul>                
             </nav>
         </div>
     </div>	

</div>


	<div id="container">
	
	<div class="main-page">
				
		<div id="showcase-content" class="include-shadow"  style='height:2300px;'>
			<div id="home_page" class="showcase columns active" style="left: 0;">
				<div class="cell width-12 first">


<% require 'mem_info' %>
<% m = MemInfo.new %>
<% vars = m.instance_variables %>
<div class='row'>
  <div class='span3'>
   <table class='table table-condensed table-bordered table-striped'>
     <% vars.each do |v| %>
        <tr>
                <th style='text-align:left;'><%= v.to_s.gsub!('@','').titleize %>:</th>
                <td style='text-align:right;'><%= number_with_delimiter(m.instance_variable_get(v) )  %></td>
        </tr>
     <% end %>
   </table>
  </div>
</div>
<br><br>
		
<pre>
<%= link_to 'Network Solutions', 'http://www.networksolutions.com' %><br>
www.denenberg.net 
DNS: networksolutions
User ID: 25316411
User Name: Andy Denenberg
git: stin_v3
host: stin_v3.heroku.com

ftv3.heroku.com
ospreypoint.heroku.com
talonv2.heroku.com
www.ospreypointcap.com
www.ospreypointpartners.com
ror.ospreypointpartners.com
stc.ospreypointcap.com
standtall.ospreypointcap.com
</pre>

	
				</div>


			</div>
		</div>			
	</div>
	
			<table class='center_table'><tr><td>
				<div class='center_text'>
				<br><br>	Copyright 2012 Osprey Point, LLC<br /> 
				</div>
				<br></td></tr>
			</table>					        
	
</div>

