<div id="top-container" class="covering-main-page">
	<div id="global-header">
        <div class="global-bar">
             <nav role="navigation">                 
                 <h1 class="logo">
                     <a href="/"><img src="/assets/RORD_logo.png" width="350" height="30" data-retina /></a>
                 </h1>                 
                 <ul id="global-navigation" class="main" role="navigation">
				  <% if user_signed_in? %>
					<li><%= link_to current_user.email, edit_user_registration_path %></li>
					<li><%= link_to 'Projects', projects_path, :class => 'active' %></li>
					<li><%= link_to 'About', about_path %></li>
					<li><%= link_to 'Experience', posts_path %></li>
				  <% else %>
					<li><%= link_to 'More Info', new_user_registration_path %></li>
					<li><%= link_to 'Login', new_user_session_path %></li>
				  <% end %>	
                 </ul>                
             </nav>
         </div>
     </div>	

</div>


	<div id="container">
	
	<div class="main-page">
				
		<div id="showcase-content" class="include-shadow"  style='height:2300px;'>
			<div id="home_page" class="showcase columns active" style="left: 0;">
				<div class="cell width-12 first">

		
<pre>
www.denenberg.net 
DNS: networksolutions
User ID: 25316411
User Name: Andy Denenberg
git: stin_v3
host: stin_v3.heroku.com

http://ftv3.heroku.com/

ospreypoint.heroku.com

talonv2.heroku.com

www.ospreypointcap.com
www.ospreypointpartners.com
ror.ospreypointpartners.com

stc.ospreypointcap.com
standtall.ospreypointcap.com

</pre>

<pre>
  LoadModule passenger_module /home/ubuntu/.rvm/gems/ruby-1.9.3-p194/gems/passenger-3.0.17/ext/apache2/mod_passenger.so
  PassengerRoot /home/ubuntu/.rvm/gems/ruby-1.9.3-p194/gems/passenger-3.0.17
  PassengerRuby /home/ubuntu/.rvm/wrappers/ruby-1.9.3-p194/ruby

#    NameVirtualHost *:80

#    Listen 3000
#    NameVirtualHost *:3000

   # 107.20.214.190 

   <VirtualHost *:80>
     ServerName ror.ospreypointpartners.com
     # !!! Be sure to point DocumentRoot to 'public'!
     DocumentRoot /home/ubuntu/rails/oppcap/public    
     <Directory /home/ubuntu/rails/oppcap/public>
        # This relaxes Apache security settings.
        AllowOverride all
        # MultiViews must be turned off.
        Options -MultiViews
     </Directory>
  </VirtualHost>

 <VirtualHost *:80>
     ServerName stc.ospreypointcap.com
     # !!! Be sure to point DocumentRoot to 'public'!
     DocumentRoot /home/ubuntu/rails/stc/public    
     <Directory /home/ubuntu/rails/stc/public>
        # This relaxes Apache security settings.
        AllowOverride all
        # MultiViews must be turned off.
        Options -MultiViews
     </Directory>
  </VirtualHost>

  <VirtualHost *:80>
     ServerName www.ospreypointpartners.com
     # !!! Be sure to point DocumentRoot to 'public'!
     DocumentRoot /home/ubuntu/rails/opp/public    
     <Directory /home/ubuntu/rails/opp/public>
        # This relaxes Apache security settings.
        AllowOverride all
        # MultiViews must be turned off.
        Options -MultiViews
     </Directory>
  </VirtualHost>

#    <VirtualHost *:3000>
  <VirtualHost *:80>
     ServerName standtall.ospreypointcap.com
     # !!! Be sure to point DocumentRoot to 'public'!
     DocumentRoot /home/ubuntu/rails/standtall_v2/public    
     <Directory /home/ubuntu/rails/standtall_v2/public>
        # This relaxes Apache security settings.
        AllowOverride all
        # MultiViews must be turned off.
        Options -MultiViews
     </Directory>
  </VirtualHost>

  <VirtualHost *:80>
     ServerName railsdev.ospreypointpartners.com
     # !!! Be sure to point DocumentRoot to 'public'!
     DocumentRoot /home/ubuntu/rails/oppcap_new/public    
     <Directory /home/ubuntu/rails/opp_new/public>
        # This relaxes Apache security settings.
        AllowOverride all
        # MultiViews must be turned off.
        Options -MultiViews
     </Directory>
  </VirtualHost>

  <VirtualHost *:80>
     ServerName railsdev.denenberg.net
     # !!! Be sure to point DocumentRoot to 'public'!
     DocumentRoot /home/ubuntu/rails/railsdev/public    
     <Directory /home/ubuntu/rails/railsdev/public>
        # This relaxes Apache security settings.
        AllowOverride all
        # MultiViews must be turned off.
        Options -MultiViews
     </Directory>
  </VirtualHost>
</pre>	
	
				</div>


			</div>
		</div>			
	</div>
	
			<table class='center_table'><tr><td>
				<div class='center_text'>
				<br><br>	Copyright 2012 Osprey Point, LLC<br /> 
				</div>
				<br></td></tr>
			</table>					        
	
</div>

