<div id="top-container" class="covering-main-page">
	<div id="global-header">
        <div class="global-bar">
            <nav role="navigation">                 
                <h1 class="logo">
                    <a href="/"><img src="/assets/RORD_logo.png" width="350" height="30" data-retina /></a>
                </h1>                 
                <ul id="global-navigation" class="main" role="navigation">
					<li><%= link_to 'Projects', projects_path %></li>
					<li><%= link_to 'About', about_path %></li>
				  <% if user_signed_in? %>
						<% if current_user.has_role? :admin %>
							<li><%= link_to 'Experience', posts_path %></li>					
					    <% end %>
					<li><%= link_to current_user.email, edit_user_registration_path %></li>
				  <% else %>
					<li><%= link_to 'Login', new_user_session_path %></li>
				  <% end %>	
                </ul>                
            </nav>
         </div>
     </div>	
</div>

	<div id="container">
	
	<div class="main-page">
				
		<div id="showcase-content" class="include-shadow" style='height:600px;'>
			<div id="app-rdio" class="showcase columns active" style="left: 0;">
				<div class="cell width-12 first">
					
					<hgroup>
						<h3>Make Contact</h3>
					</hgroup>
				</div>
				
<div class="cell width-12 first">	
	<div class="rich-content">
  <%= form_tag make_contact_path do %>

  <% current_user ? name = current_user.name : name = '' %>
  <% current_user ? email = current_user.email : email = '' %>
  <lable>Name</lable><br>
  <%= text_field_tag :name, name %><br>
  <lable>Email</lable><br>
  <%= text_field_tag :email, email %><br>
  <lable>Message</lable><br>
  <%= text_area_tag :message, nil, :rows => 7, :class => 'span5' %><br>
  <%= submit_tag 'Send Message', :class => 'btn-primary' %>
  <% end %>
  <br>
  <%= link_to 'Cancel', root_path %>
<br>

	</div>
</div>
				
				
			</div>
			

		</div>
		
		<hr />
		
				
	</div>
	
	
</div>