<%= form_for(@post) do |f| %>

  <lable>Title</lable><br>
  <%= f.text_field :title %><br>
  <lable>Message</lable><br>
  <%= f.text_area :body, :rows => 7, :class => 'span5' %><br><br>
	<lable>Category</lable><br>
    <%= f.text_field :category %><br>
	<lable>User</lable><br>
    <%= f.text_field :user %><br>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-info' %>
  </div>
<% end %>
