
<div id="top-container">
	<div id="global-header">
		<div class="local-bar">
			<nav role="navigation">
				
				<h1 class="logo">
					<a href="/"><img src="/assets/RORD_logo.png" width="350" height="30" data-retina /></a>
				</h1>
				
				<ul class="local-navigation main" role="navigation">
					<li><a href="/">Home</a></li>
					<li class="dropdown"><a href="#">Information</a>
						<ul>
							<li><%= link_to 'Projects', projects_path %></li>
							<li><%= link_to 'About', about_path %></li>
							<li><%= link_to 'Contact', '#' %></li>
						</ul>
					</li>
					<li><%= link_to 'Experience', posts_path, :class => "active" %></li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="Head transparent-bar" id="Head">
		<div class="Row">
			<ul class="ForumMenu">
				<li><%= link_to 'Posts', posts_path, :class => "active" %></li>
				<li><a href="#" class="BestOf">Placeholder</a></li>
			</ul>
			<div class="MeBox MeBox-SignIn Inline FlyoutRight">
				<div class="SignInLinks"><a href="#" class="">Post #<%= @post.id %></a> </div>
			</div>
			
		</div>
	</div>
</div>

<div id="Frame">
   <div id="Body">
      <div class="Row">

            <div class="MessageList Discussion"><!-- Page Title -->
<br>
<div id="container">
	<div class="main-page" id="blog-page">
		<div class="content flush-padding">
			<div class="columns">
				<div class="cell width-8 first vertical-gap">
					<div class="blog-posts ">

						
<article>
<hgroup>
<header>
By: <%= User.find(@post.user_id).name %> - Last Updated: <%= @post.updated_at.strftime("%m/%d/%Y") %>	
	</header>	
<h2><%= @post.title %></h2>
	<footer>
	<%= link_to 'Edit', edit_post_path(@post), :class => 'btn btn-mini' %> |
	<%= link_to 'Back', posts_path, :class => 'btn btn-mini' %>
	</footer>
</hgroup>
<div class="entry-content rich-content">
<%= @post.body.html_safe %>
</div>
</article>

<div class="navigation">
		<div class="nav-previous">
			
			&larr;<%= link_to ' Older Post' , post_path(@post.previous), :class => "meta-nav" %></div>
		<div class="nav-next"><%= link_to ' Newer Post' , post_path(@post.next), :class => "meta-nav" %>&rarr;</div>
	</div>
					</div>
				</div>
				<div class="blog-sidebar cell width-4 append-gutter vertical-gap" >
					<div id="secondary" class="widget-area" role="complementary">
						
<aside class="widget s2_form_widget"><form method="get" action="#">
<%= text_field_tag 'search', "Search" %>
</form>
</aside>

<aside class="widget s2_form_widget"><h3 class="widget-title">Subscribe</h3><div class="search">

	<%= simple_form_for(@user,  :url => registration_path(@user), :html => {:class => 'form-vertical' }) do |f| %>
	  <%= f.error_notification %>
	  <%= f.input :email, :required => true, :placeholder => "Enter email address..."  %>
	  <%= f.button :submit, 'Sign up' %>
	
	<% end %>

</aside>

<aside id="linkcat-2" class="widget widget_links"><h3 class="widget-title">Links</h3>
	<ul class='xoxo blogroll'>
<li><%= link_to 'Rails Guide', 'http://guides.rubyonrails.org/'%>
<li><%= link_to 'Family Site', 'http://www.denenberg.net'%></li>
	</ul>
</aside>
</div>
				</div>
			</div>
		</div>
	</div>




