<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Osprey Point Partners</title>
    <meta name="Entrepreneurs" content="">
    <meta name="Andy Denenberg" content="">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Oppcap" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
	<% if params[:controller] == 'posts' %>
		<%= stylesheet_link_tag "posts", :media => "all" %>
	<% else %>
		<%= stylesheet_link_tag "top", :media => "all" %>
	<% end %>
	
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
              <%= yield %>
  </body>
</html>